@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*,
body {
    color: #fff;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.body {
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
    background: #34495e;
}

.panel {
    display: flex;
}



.content {
    flex-grow: 5;
}

.overallCan {
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: #1D2935 solid 1px;
    background: #2c3e50;

}