@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*,
body {
    color: #fff;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.body {
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
    background: #34495e;
}

.panel {
    display: flex;
}



.content {
    flex-grow: 5;
}